@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 255 0 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: rgb(var(--color-primary));
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(var(--color-primary)); 
}

nav a {
  color: rgb(var(--foreground-rgb));
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
}

h2 {
  font-size: 1.5rem;
  text-transform: lowercase;
  margin: 2rem 0;
  font-weight: bold;
}

input, textarea {
  border: 1px dotted black;
  padding: 1.25rem;
  font-size: 1.5rem;
  flex: 1 1 auto;
  text-align: center;
}

button:not(.jodit-toolbar-button__button) {
  background-color: rgb(var(--color-primary)) !important;
  color: white; 
  padding: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

header img {
  width: auto;
  height: auto;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);

  &:hover {
    transform:rotate(25deg);
  }
}